body {
    background-color: aqua;
}

/* de wrapper */
.wrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */
  max-width: 960px; /* 2 */
  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}

.wrapper img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* secties van de pagina */
#title {
    text-align: center;
    border: 5px solid black;
    max-width: 100%;
}

#image {
    margin-top:20px;
}

#list ol li{
    font-size:20px;
}